 nav a:visited ,a:link{
     color:blueviolet;
     margin:10px;
     border:2px solid;
     padding:10px;
     text-decoration: none;
     background-color:darkgrey;
     border-radius:5px;
     box-shadow:20px darksalmon;

 }
 nav a:hover{
     color:coral;
     background-color: cornsilk;
 }
nav a.active{
    color:crimson
}
 